<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>#if($title)$title #else afengzi-sites #end</title>
    <link rel="stylesheet" type="text/css" href="/resources/js/jquery-easyui-1.4.1/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/resources/js/jquery-easyui-1.4.1/themes/icon.css">
##    <link rel="stylesheet" type="text/css" href="/resources/js/jquery-easyui-1.4.1/demo.css">
    <script type="text/javascript" src="/resources/js/jquery-easyui-1.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/resources/js/jquery-easyui-1.4.1/jquery.easyui.min.js"></script>
</head>
<body class="easyui-layout">
<div data-options="region:'north',border:false,split:true" style="height:60px;background:#B3DFDA;padding:10px">
    #parse("/common/top.vm")
</div>
<div data-options="region:'west'" title="directory" style="width:100px;">
   #parse("/common/left.vm")
</div>
##<div data-options="region:'east',split:true,collapsed:true,title:'East'" style="width:100px;padding:10px;">
##    east region
##</div>
<div data-options="region:'south',border:false,split:true " style="height:50px;background:#A9FACD;padding:10px;">
    south region
</div>
<div data-options="region:'center',split:true">$screen_content</div>
</body>
</html>